
@{
    ViewBag.Title = "Add_department";
    ViewBag.NamePage = "Departament Əlavə Et";
    Layout = "~/Views/Shared/_HrLayout.cshtml";
}


<div class="white-box">
    <div class="tab-content">
        <div class="tab-pane active" id="settings">
            <form class="form">
                <div class="form-group row">
                    <label class="col-2 col-form-label">Adı</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Direktor</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Yaradılma Tarixi</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="datetime-local" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Şöbə adı</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Bolmə adı</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label"></label>
                    <div class="col-md-2 col-xs-4 col-sm-4 ">
                        <button class="btn btn-block btn-danger">Yadda saxla</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

