
@{
    ViewBag.Title = "Add_employee";
    ViewBag.NamePage = "İşçi Əlavə Et";
    Layout = "~/Views/Shared/_HrLayout.cshtml";
}

<div class="white-box">
    <ul class="nav customtab nav-tabs" role="tablist">
        <li role="presentation" class="nav-item"><a href="#home" class="nav-link active" aria-controls="home" role="tab" data-toggle="tab" aria-expanded="true"><span class="visible-xs"><i class="fa fa-home"></i></span><span class="hidden-xs"> Şəxsi Məlumatlar</span></a></li>
        <li role="presentation" class="nav-item"><a href="#profile" class="nav-link" aria-controls="profile" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="fa fa-user"></i></span> <span class="hidden-xs">Şirkət Məlumatları</span></a></li>
        <li role="presentation" class="nav-item"><a href="#messages" class="nav-link" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="fa fa-envelope-o"></i></span> <span class="hidden-xs">Sənədlər</span></a></li>
        <li role="presentation" class="nav-item"><a href="#settings" class="nav-link" aria-controls="messages" role="tab" data-toggle="tab" aria-expanded="false"><span class="visible-xs"><i class="fa fa-cog"></i></span> <span class="hidden-xs">Bank Məlumatları</span></a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="home">
            <form class="form">
                <div class="form-group row">
                    <label class="col-2 col-form-label">İşçi İD</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Ad</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Soyad</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Ata adı</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Doğum tarixi</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="datetime-local" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Qeydiyyat ünvanı</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Faktiki ünvan</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Əlaqə Nömrəsi</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Əlaqə Nömrəsi 2</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">E-mail</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Cinsi</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Təhsili</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Ümumi Staj</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="profile">
            <form class="form">
                <div class="form-group row">
                    <label class="col-2 col-form-label">Departament</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Şöbə</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Bölmə</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Vəzifə</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Qeydiyyat Tarixi</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="datetime-local" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Əmək Haqqı</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="messages">
            <form class="form">
                <div class="form-group row">
                    <label class="col-2 col-form-label">Şəkil</label>
                    <div class="col-md-4 col-xs-12 col-sm-10">
                        <input type="file" class="dropify" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">CV</label>
                    <div class="col-md-4 col-xs-12 col-sm-10">
                        <input type="file" class="dropify" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Əmək Kitabçası</label>
                    <div class="col-md-4 col-xs-12 col-sm-10">
                        <input type="file" class="dropify" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Sosial Kart</label>
                    <div class="col-md-4 col-xs-12 col-sm-10">
                        <input type="file" class="dropify" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Diplom</label>
                    <div class="col-md-4 col-xs-12 col-sm-10">
                        <input type="file" class="dropify" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Sertifikatlar</label>
                    <div class="col-md-4 col-xs-12 col-sm-10">
                        <input type="file" class="dropify" />
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane" id="settings">
            <form class="form">
                <div class="form-group row">
                    <label class="col-2 col-form-label">Bankın Adı</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Cari Hesab</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">SWİFT</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Filialın Adı</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label">Kart Nömrəsi</label>
                    <div class="col-md-5 col-xs-12 col-sm-10">
                        <input class="form-control" type="text" value="">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label"></label>
                    <div class="col-md-2 col-xs-4 col-sm-4 ">
                        <button class="btn btn-block btn-danger">Yadda saxla</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
