
@{
    ViewBag.Title = "View_edit_department";
    ViewBag.NamePage = "Bax - Dəyiş Departamentlər";
    Layout = "~/Views/Shared/_HrLayout.cshtml";
}

<div class="white-box">
    <button class="btn btn-default js_form_cancel pull-right m-l-5">Ləğv et</button>
    <button id="GO" class="btn btn-info js_form_edit pull-right "> <i class="fa fa-pencil"></i> Dəyiş</button>
    <div class="panel-wrapper collapse in" aria-expanded="true">
        <div class="panel-body">
            <form class="form-horizontal js_form" role="form">
                <div class="form-body">
                    <h3 class="box-title">Departament</h3>
                    <hr class="m-t-0 m-b-40">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Adı:</label>
                                <div class="col-md-9">
                                    <p class="form-control-static"> İR Departamenti </p>
                                    <input class="form-control" type="text" value="İR Departamenti">
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Direktor:</label>
                                <div class="col-md-9">
                                    <p class="form-control-static"> Asimov Nizami Vaqif oğlu </p>
                                    <input class="form-control" type="text" value="Asimov Nizami Vaqif oğlu">
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Yaradılma tarixi:</label>
                                <div class="col-md-9">
                                    <p class="form-control-static"> 05-05-1987 </p>
                                    <input class="form-control" type="text" value="05-05-1987">
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Şöbə:</label>
                                <div class="col-md-9">
                                    <p class="form-control-static"> H4 </p>
                                    <input class="form-control" type="text" value="H4">
                                </div>
                            </div>
                        </div>
                        <!--/span-->
                    </div>
                    <!--/row-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label col-md-3">Bölmə:</label>
                                <div class="col-md-9">
                                    <p class="form-control-static">  B9 </p>
                                    <input class="form-control" type="text" value="H4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-actions">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-9">
                                    <button type="submit" class="btn btn-info"> <i class="fa fa-pencil"></i> Yadda Saxla</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6"> </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

